build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
gnulib
Makefile
Makefile.in
*.o
*.Po
*.lo
*.Plo
*.Tpo
*.la
*~
*.orig
m4
autom4te.cache
config.*
COPYING
ABOUT-NLS
stamp-h1
*/.libs
*/*/.libs
*.cov
*.gcda
*.gcno
aclocal.m4
libtool
ltmain.sh
mkinstalldirs
configure
INSTALL
compile
depcomp
install-sh
missing
workman-1.0.pc
workman.spec
*/*.gir
*/*.typelib
build/
docs/workman/xml/
docs/workman/html/
docs/workman/*.stamp
docs/workman/*-decl-list.txt
docs/workman/*-decl.txt
docs/workman/*-overrides.txt
docs/workman/*-sections.txt
docs/workman/*-undeclared.txt
docs/workman/*-undocumented.txt
docs/workman/*-unused.txt
docs/workman/*.args
docs/workman/*.hierarchy
docs/workman/*.interfaces
docs/workman/*.prerequisites
docs/workman/*.signals
docs/workman/*.types
docs/workman/version.xml
*.tar.gz
*.pc
